@model UpdateProductVm

<div class="container">
    <form method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Name">Name</label>
                <input class="form-control" placeholder="Enter Name" asp-for="Name">
                <span asp-validation-for="Name" style="color:red"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Price">Price</label>
                <input class="form-control" placeholder="Enter Price" asp-for="Price">
                <span asp-validation-for="Price" style="color:red"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="SKU">SKU</label>
                <input class="form-control" placeholder="Enter SKU" asp-for="SKU">
                <span asp-validation-for="SKU" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Description">Description</label>
                <textarea class="form-control" placeholder="Enter Description" asp-for="Description"></textarea>
                <span asp-validation-for="Description" style="color:red"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Example select</label>
                <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
                    <option>Select Category</option>

                </select>
                <span asp-validation-for="CategoryId" style="color:red"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagIds">Example select</label>
                <select class="form-control" asp-for="TagIds" asp-items="@(new SelectList(ViewBag.Tags,"Id","Name"))">
                    <option>Select Tags</option>

                </select>
                <span asp-validation-for="TagIds" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <div width:100px>
                    <img width:100% src="~/Upload/Product/@Model.ProductImages?.FirstOrDefault(p=>p.PrimaryImg)?.ImgUrl">
                </div>
                <label asp-for="MainPhoto">MainPhoto</label>
                <input class="form-control" asp-for="MainPhoto">
                <span asp-validation-for="MainPhoto" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <div class="row"> 
                    @foreach (var item in Model.ProductImages.Where(p => !p.PrimaryImg))
                    {
                        <div class="col-3 mb-2 position-relative">
                            <input type="hidden" value="@item.ImgUrl" name="ImagesUrl"/>
                            <img width:100% src="~/Upload/Product/@item.ImgUrl">
                            <button class="btn btn-danger position-absolute" style="right:10px">x</button>
                        </div>
                    }
                </div>
                <label asp-for="Images">Images</label>
                <input class="form-control" asp-for="Images">
                <span asp-validation-for="Images" style="color:red"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    var btn = document.querySelectorAll(".custom btn")
    btn.forEach(b =>
        {
            b.addEventListener("click",function (e)
            {
                e.preventDefault();
                b.parentElement.remove()
            })
        })
</script>